<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="robot_1">

  <!-- Use this if parameters are set from the launch file, otherwise delete -->
  <xacro:arg name="prefix" default="" />

  <xacro:include filename="$(find tutorial_robot_1)/urdf/robot_1/robot_1_macro.ros2_control.xacro"/>
  <xacro:include filename="$(find tutorial_robot_1)/urdf/robot_1/robot_1_macro.xacro"/>


  <!-- Load robot's macro with parameters -->
  <!-- set prefix if multiple robots are used -->
  <xacro:robot_1 prefix="$(arg prefix)">
    <origin xyz="0 0 0" rpy="0 0 0" />          <!-- position robot in the world -->
  </xacro:robot_1>

</robot>
